<!DOCTYPE html>
<html>
<head>
    <title>Battleship Game _layout.cshtml</title>
</head>
<body>
    <header>Welcomn!!</header>

    <footer>Copyright by karaokesound 2023. Oppenheimer!</footer>
</body>
</html>